<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.smr.btec.igor.githubusers">



    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:supportsRtl="true"
        android:allowBackup="true"
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".recyclerview.RecyclerViewExampleActivity"
            android:label="@string/app_name"/>
    </application>
</manifest>
